<section class="py-5 my-5" id="our-ex">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <iframe _ngcontent-xml-c5="" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/J0uzhptIFLw" width="560"></iframe>
            </div>
            <div class="col-md-6 my-3 ">
                <div class="caption ml-3 text-white">
                    <h2>OUR EXPERTISE</h2>
                    <h3 >Gamers around the world join us to promote one clan</h3>
                    <p >All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                    <button  class="btn btn-outline-info">Join Our Team</button>
                </div>

            </div>

        </div>

    </div>
</section>
