.bg-custom{
    background-color: #ec3237; 
}
.navbar-brand {
    color: #fff;
    font-size: 1.2rem;
    padding-right: 3.5rem;
    padding-left: .5rem;
}

.navbar-brand:hover {
    color: white
}
.nav-item a{
    color: #fff ; 
    padding-right: .5rem;
    padding-left: .5rem;
    font-size: 1.2rem;
}

.navbar .navbar-nav>li>a:hover{
  color: rgb(245,151,155)

}