

<section>
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2  class="text-danger">WHY JOIN US?</h2> 
                <h3 _ngcontent-lic-c5="" class="text-muted my-3">
                    Experienced players all around the world</h3>
         </div>       
            <div class="col-md-12 mt-4">                
<div class="owl-carousel owl-theme">
    <div><img src="../../assets/one.jpg "  style="width:220px"alt=""></div>
    <div>    <img src="../../assets/two.jpg" style="width:220px"alt=""> </div>
    <div> <img src="../../assets/three.jpg"  style="width:220px"alt=""> </div>
    <div> <img src="../../assets/four.jpg"style="width:220px"alt=""> </div>
              </div>
           </div>
        </div>
    </div>
</section>


