<section class="our"> 
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 ">
                <h2  class="text-danger">Meet Our Team</h2>
                <h3 >Experienced players all around the world</h3>
                <p  class="text-muted">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                <button _ngcontent-ygo-c5="" class="btn btn-outline-danger">Join Our Team</button>
            </div>
            <div class="col-md-6">
                <img  alt="" src="../../assets/team.jpg">

            </div>

        </div>
        
    </div>
</section>
