
    <section class="home-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="caption text-white ml-5 my-5 py-5" > 
                        <div class="">
                        <h1>GAMING CLAN</h1>
                        <h3 >Team of five representing Gaming Clan</h3>
                        <span class="d-block py-4">Join Our Team</span>
                        <a  class="btn btn-outline-info p-2 " href="">Contact Us</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 